* {
    margin: 0;
    padding: 0;
}
body{
background-color: #EBB17C;
}
      /*alignement du header */
header{
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items:center;
}

.title{
    font-family: 'Corinthia', cursive;
    position:absolute;
    z-index:999;
    padding:50px;
    background-color: #FCE5CF;
    top:260px;
    box-shadow: -13px 13px 2px 1px rgba(0, 0, 0, .2);
}

 header h1{
    font-size: 80px; 
    text-align: center;
}

header p{
    font-size: 25px; 
}
/* slider */
.slider {
    overflow: hidden;
}

.slides {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: calc(337px * 4);
    height: 800px;
    animation: glisse 13s infinite ease;
}

.slide {
    opacity: 0.6;
}


/*pour faire l'animation */
@keyframes glisse{
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-500px);
    }

    40% {
        transform: translateX(-1000px);
    }

    60% {
        transform: translateX(-1500px);
    }

    80% {
        transform: translateX(-2500px);
    }

    100% {
        transform: translateX(0);
    }
}
/*_________Menu_____________*/
.section{
    width: 100%;
display: flex;
justify-content: center;
transform: translateY(-130px);
}

nav.menu{
    width: calc(500px*4);
}
/*________________________________________*/
nav.menu ul{
    display: flex;
}

nav.menu ul li{
    list-style-type: none; 
      /*centrer le mot */
    display: flex;
    align-items: center;
    justify-content: center;
}


nav.menu ul li:hover{
    transform: scale(0.9);
    transition: 0.3s all;
}

nav.menu ul li a {
    color: white;
    font-size: 50px;
    text-decoration: none;
}


.nav-item{
    flex:1;
    height :300px;
} 


.salade{
background: url(../image/salad-banner.jpg) 100%;
background-repeat: no-repeat;
background-size: cover;
}

.pizza{
    background: url(../image/pizza-banner.jpg)100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.burger{
    background: url(../image/burger-banner.jpg)100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.pasta{
    background: url(../image/pasta-banner.png)100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.boisson{
    background: url(../image/boisson-banner.jpg)100%;
    background-repeat: no-repeat;
    background-size: cover;
}
/*__________sections des plats______________________*/
.item {
    background-color: white;
    margin: 20px;
    display: flex;
    cursor: pointer;
    transition: 0.3s all;
    width: 80%;
}

/*ajouter une animation*/
.item:hover{
    box-shadow: -10px 10px 2px 1px rgba(0, 0, 0, .2);
    transform: scale(0.9);
    transition: 0.3s all;
}


.item-info {
    padding: 20px;
    line-height: 40px;
}

.item-info h3{
    font-size: 40px;
}

.item-info hr{
    margin: 10px 0 10px 0;
    opacity: 0.5;
}


section {
    padding: 100px;
}

section img{
    width:300px;
}
